@import url(../fonts.css);

.title-text {
    font-family: 'blowbrush';
    color: black;
    font-size: 50pt;
}

.text {
    font-family: 'Exo 2', sans-serif;
    color: black;
    font-size: 25pt;
}
#parent {
    display: flex;
    align-items: center;
    justify-content: center;
} 
.orange-button {
    background-color: #ff7000; /* Green */
    border: 0px;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: black; 
    border: 2px solid #4CAF50;
}
.orange-button:hover {
	background-color:#60C2D8;
}
.orange-button:active {
	position:relative;
	top:1px;
}
.overvideobuttom {
    position: absolute;
}
