@import url(../fonts.css);

.menu-text {
    font-family: 'DoctorGlitch', sans-serif;
    font-size: 35px;
}
.link { 
    color: #ff7000; 
    transition-duration: 0.3s;
    webkit-transition-duration: 0.3s;
} /* CSS link color (red) */
.link:hover { 
    color: #60C2D8;
 } /* CSS link hover (green) */
.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }