@font-face {
    font-family: 'DoctorGlitch';
    font-style: normal;
    font-weight: 400;
    src:
      local('DoctorGlitch'),
      url(../fonts/DoctorGlitch.ttf) format('truetype');
}

@font-face {
  font-family: 'blowbrush';
  font-style: normal;
  font-weight: 400;
  src:
    local('blowbrush'),
    url(../fonts/blowbrush.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: 400;
  src:
    local('Gilroy-Regular'),
    url(../fonts/Gilroy-Regular.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');